.card-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem auto;
  background-color: rgb(251, 210, 210);

  max-width: 700px;

  .image {
    max-width: 65%;
    margin-bottom: 5%;
  }

  .error-404 {
    font-weight: 500;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
  }
}
